<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ now.Format "2006" }} {{ .Site.Title }}
  </a>
  <a href="//www.dmca.com/Protection/Status.aspx?ID=79adef9b-8fe8-4ef3-8f3e-f2af445b9fcb" title="DMCA.com Protection Status" class="dmca-badge" rel="nofollow"> <img src ="images/dmca-badge.png" style="height:40px;" alt="DMCA.com Protection Status" /></a>  <script>(function () {
   document.addEventListener("DOMContentLoaded", function () {
       var e = "dmca-badge";
       var t = "refurl";
       var n = document.querySelectorAll('a.'+e);
       if (n[0].getAttribute("href").indexOf("refurl") < 0) {
           for (var r = 0; r < n.length; r++) {
               var i = n[r];
               i.href = i.href + (i.href.indexOf("?") === -1 ? "?" : "&") + t + "=" + document.location
           }
       }
   }, false)
}
)() </script>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>
