{{ define "main" }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <h1>Matkusta puhtaasti</h1>
      <p>HKL on myönteinen ympäristövaikuttaja. Ympäristön huomioon ottaminen on HKL:n toiminnan peruslähtökohta.</p>
      <ul>  
          <li>Olemme sitoutuneet ilmastonmuutoksen torjumiseen.
        </li>
          <li>Noudatamme pääkaupunkiseudun ilmastostrategiaa, jonka tavoitteena on vähentää liikenteen kasvihuonepäästöjä ainakin 20 prosenttia vuoteen 2030 mennessä.
        </li>
          <li>Seuraamme järjestelmällisesti toimintamme ympäristövaikutuksia ja kehitämme ympäristön kannalta parhaita vaihtoehtoja.
        </li>
          <li>Olemme sitoutuneet parantamaan energiatehokkuutta metron ja raitiovaunujen liikennöinnissä sekä kiinteistöissämme.
        </li>
      </ul>
      <p><b>Mukavasti metrolla</b></p>
      <p>Metro on energiatehokas ja ilmastoystävällinen liikenneväline, joka pystyy kuljettamaan nopeasti suuria ihmismääriä. Tästä syystä metrolinja ulottuu lähivuosina myös länteen. Länsimetron käyttöönotto vähentää merkittävästi kasvihuonepäästöjä ja parantaa ilman laatua Länsiväylän tuntumassa Espoossa ja Länsi-Helsingissä.    </p>
      <p>Metron automatisointi parantaa energiatehokkuutta entisestään. Esimerkiksi kiihdyttäminen ja jarruttaminen voidaan automatisoida optimaaliseksi. Metron sähkönkulutusta on voitu vähentää ajettua linjakilometriä kohden myös jäänmurskaus- ja sulatuskoneella, jota kutsutaan jäämursuksi. Se pitää virtakiskon alustan puhtaana lumesta ja jäästä ja auttaa metrojunia kulkemaan tasaisesti myös talvella.    </p>
      
      
      <h2>Kannattaa myös tutustua laina-sivuihin</h2>
          Seraavaksi muutamia esimerkki lainoista:
          <ul>
            <li><a href="https://pikavippikokemuksia.com/lainaa-20-vuotiaalle/">pikavippi 20v</a></li>
            <li><a href="https://iskuvippi.fi/ilmainen-pikavippi/" class="link">kuluton pikavippi</a></li>
            <li><a href="https://www.lainaaheti247.fi/pikavippi/pikavippi-heti/" class="link">pikavippi heti</a></li>
          </ul> 
          Näillä laina-sivuilla pääset alkuun!
      </div>
{{ end }}
